:root {
  --primary: #3a557a;
  --secondary: #5db3c1;
  --orange: #ffbd5c;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--orange);
}

body {
  background-color: var(--primary);
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
}
.home-btn {
  z-index: 100;
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  color: var(--orange);
  width: 120px;
  height: 25px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: transparent !important;
  transition: all 200ms ease-in-out;
}
.home-btn svg {
  width: 20px;
  height: 20px;
}
.home-btn:hover {
  color: var(--secondary);
  transform: scale(1.01);
}

.home-btn path {
  transition: 200ms ease-in-out;
}
.home-btn:hover path {
  fill: var(--secondary);
}
.home-page {
  align-items: center;
  justify-items: center;
  display: grid;
  /* display: none; */
  width: 100%;
  height: 100%;
  position: relative;
  gap: 8px;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 16px;
  width: 300px;
  height: 200px;
  border-radius: 8px 4px 8px 4px;
}

.header-decorative {
  position: absolute;
}
.header-border-tr {
  top: -8px;
  right: -8px;
  width: 30px;
}
.header-border-bl {
  bottom: -8px;
  left: -8px;
  width: 30px;
  transform: rotate(180deg);
}
.container {
  height: 100%;
  margin: 0 auto;
  max-width: 500px;
  position: relative;
}

.home-page-content {
  position: relative;
  height: 100%;
}
.bg-image {
  width: 100%;
  height: 450px;
}

.btn {
  border: none;
  cursor: pointer;
  font-weight: 600;
  background-color: white;
  border-radius: 16px 4px 16px 4px;
  font-family: "Oswald", sans-serif;
}

.options-card:disabled {
  color: black;
  opacity: 1;
  cursor: default;
}

.start-btn {
  font-size: 18px;
  padding: 4px;
  width: 190px;
  position: absolute;
  bottom: 195px;
  right: 50px;
  box-shadow: 1px 1px 2px var(--primary), 3px 3px 2px #212121;
}
.start-btn:hover {
  box-shadow: 3px 3px 2px var(--primary), 3px 5px 2px #212121;
}

.quiz-part {
  position: relative;
  padding: 78px 0 10px 0;
  display: none;
  justify-items: center;
  align-items: center;
  gap: 24px;
  grid-template-rows: 1fr 0.25fr 0.25fr 0.25fr 0.25fr;
}

.question-card {
  position: relative;
  background-color: white;
  width: 300px;
  height: 230px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 5px 5px 5px black;
}
h2 {
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  font-weight: 800;
}

.question-count {
  position: absolute;
  color: var(--primary);
  font-size: 12px;
  bottom: 8px;
  right: 8px;
  font-weight: 700;
}

.options-card {
  cursor: pointer;
  position: relative;
  animation-iteration-count: 1;
  background-color: white;
  padding: 16px;
  width: 300px;
  /* height: 50px; */
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  border-radius: 0 8px 0 8px;
}

.options-card:nth-child(odd) {
  animation: cardEntranceRight;
  animation-duration: 600ms;
  animation-timing-function: ease-in-out;
}
.options-card:nth-child(even) {
  animation: cardEntranceLeft;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

.next-btn {
  z-index: 100;
  position: absolute;
  bottom: -50px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: transparent;
  border-radius: 0;
  color: white;
  font-size: 24px;
  font-weight: 400;
  width: 100px;
}
.next-btn svg {
  width: 30px;
  height: 30px;
}

.result-part {
  padding: 40px 8px 10px 8px;
  display: none;
  justify-items: center;
  align-items: center;
}

.score-card {
  background-color: white;
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  width: 200px;
  height: 150px;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
}
.score {
  font-family: "Quicksand", sans-serif;
  font-size: 42px;
  color: #5db3c1;
  font-weight: 800;
}

.total-review {
  margin-top: 24px;
  font-size: 16px;
  color: white;
  text-align: center;
  border-collapse: collapse;
}
table {
  width: 100%;
}
.total-review thead {
  font-family: "Oswald", sans-serif;
}
.total-review td {
  padding: 8px 16px;
  font-weight: 600;
}

.question-review {
  padding: 16px 4px;
  position: fixed;
  overflow-y: scroll;
  bottom: 75px;
  width: 500px;
  height: 380px;
  background-color: #5db3c136;
}
.question-review-table {
  font-size: 16px;
  color: white;
  text-align: left;
  border-collapse: collapse;
}
.number-row {
  width: 20px;
}
.question-row {
  width: 240px;
}
.question-row p {
  word-break: normal;
  line-height: 20px;
}

.answer-row {
  width: 120px;
}
.user-answer-row {
  width: 120px;
}
.question-review-table thead {
  font-size: 16px;
  border-bottom: 1px solid var(--primary);
}

.question-review-table td {
  padding: 8px;
  font-weight: 500;
  border-right: 1px solid var(--primary);
}
.question-review-table td:nth-last-child(1) {
  border-right: none;
}

.author {
  position: absolute;
  bottom: 20px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  text-align: center;
}
.author a {
  color: var(--secondary);
  text-decoration: none;
  border-bottom: 1px solid var(--secondary);
  font-weight: 700;
}

@keyframes cardEntranceRight {
  0% {
    right: -300px;
  }

  100% {
    right: 0;
  }
}

@keyframes cardEntranceLeft {
  0% {
    left: -300px;
  }

  100% {
    left: 0;
  }
}

@media screen and (max-width: 500px) {
  .container {
    max-width: 320px;
  }
  .header {
    width: 250px;
    height: 150px;
  }
  .start-btn {
    bottom: 210px;
    width: 150px;
    right: 30px;
  }
  .question-card {
    height: 150px;
  }
  h2 {
    font-size: 20px;
  }
  .options-card {
    font-size: 16px;
  }
  .next-btn {
    font-size: 18px;
  }

  .next-btn svg {
    width: 25px;
    height: 25px;
  }

  .score-card {
    height: 120px;
  }

  .total-review {
    margin-top: 12px;
    font-size: 14px;
  }
  .total-review td {
    padding: 8px;
    font-weight: 600;
  }

  .question-review {
    bottom: unset;
    top: 280px;
    width: 320px;
    font-size: 14px;
    max-height: 360px;
  }
  .number-row {
    width: 10px;
  }
  .question-row {
    width: 150px;
  }

  .answer-row {
    width: 80px;
  }
  .user-answer-row {
    width: 80px;
  }
  .question-review-table td {
    padding: 4px;
    font-size: 14px;
  }
  .question-review-table thead {
    font-size: 14px;
  }
  .result-part {
    padding: 48px 8px 10px 8px;
  }
}

@media screen and (min-height: 900px) {
  .container {
    margin-top: 40px;
    max-width: 900px;
    height: 900px;
  }
  .header {
    width: 400px;
    height: 200px;
  }
  .start-btn {
    bottom: unset;
    top: 270px;
    width: 200px;
    right: 49px;
  }
  .question-card {
    width: 400px;
    height: 300px;
  }
  h2 {
    font-size: 24px;
  }
  .question-count {
    font-size: 16px;
    right: 20px;
    bottom: 20px;
  }
  .options-card {
    width: 400px;
    font-size: 20px;
  }
  .next-btn {
    font-size: 26px;
    right: 210px;
  }

  .next-btn svg {
    width: 35px;
    height: 35px;
  }

  .result-part {
    position: relative;
  }

  .score-card {
    width: 400px;
    font-size: 28px;
  }
  .total-review {
    font-size: 16px;
  }
  .total-review td {
    padding: 8px;
    font-weight: 600;
  }

  .question-review {
    bottom: unset;
    top: 350px;
    width: 900px;
    font-size: 16px;
    height: auto;
  }

  .question-review-table td {
    padding: 8px;
    font-size: 16px;
  }

  .result-part {
    padding: 20px 8px 10px 8px;
  }
  .author {
    font-size: 16px;
  }
}
